
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(rgb(65, 65, 161), rgb(234, 204, 251));
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
